<div class="card mb-0 bg-transparent border-0" style="color: black">
  <div class="card-header p-2 bg-transparent">
    <h4 class="mb-0 text-white">John Doe <span class="text-muted small"> - UI Engineer</span></h4>
  </div>
  <div class="card-body p-2 bg-white">
    <div class="d-flex">
      <div class="mr-2">
        <img style="width: 5rem" class="thumb media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
      </div>
      <div class="mr-2">
        <address class="mb-0">
          <strong>Bootdey, Inc.</strong><br />
          Vamoil Ave, Suite 23<br />
          Dream land, Australia <br />
        </address>
      </div>
      <div>
        <div class="d-flex justify-content-between"><span class="text-muted mr-2">Age:</span> <span>25</span></div>
        <div class="d-flex justify-content-between"><span class="text-muted mr-2">Race:</span> <span>Caucasian</span></div>
        <div class="d-flex justify-content-between"><span class="text-muted mr-2">Marital</span> <span>Single</span></div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted p-2 bg-transparent text-white">
    <span class="text-muted">Date of Deceased : 10/27/2021</span>
  </div>
</div>