<!-- Mobile Button -->
<button *ngIf="isMobileOrTablet()" class="btn btn-primary">
  <label class="m-0" for="mobile-file-input">
    <i title="Credit or Debit Card" class="fa fa-2x fa-camera"></i>
  </label>
  <input id="mobile-file-input" type="file" capture="environment" style="display: none;"
         (change)="handleMobileImage($event)"/>
  <!--<input id="file-input" type="file" onchange="previewFile(this);" capture="environment" style="display: none;"/>-->
 </button>
<!-- Mobile Button -->

<!-- Desktop Button -->
<button *ngIf="isDesktop" (click)="displayWebcam(webCamTemplate)" class="btn btn-primary position-relative">
  <label class="m-0" for="desktop-file-input">
    <i *ngIf="isDesktopCameraAccess()" title="Credit or Debit Card" class="fa fa-2x fa-camera"></i>
    <i *ngIf="!isDesktopCameraAccess()" title="Credit or Debit Card" class="fa fa-2x fa-upload"></i>
  </label>
  <input #myDiv *ngIf="!isDesktopCameraAccess()" id="desktop-file-input" type="file" capture="environment"
         class="position-absolute"
         style="z-index:-1;width:100%;height:100%;top:0;right:0;"
         (change)="handleDesktopImage($event)"/>
</button>
<!-- Desktop Button -->

<!-- Desktop Modal Camera -->
<ng-template #webCamTemplate>
  <div class="modal-header border-0 bg-transparent">
<!--    <h4 class="modal-title pull-left">Modal</h4>-->
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <webcam
        [height]="cameraHeight"
        [width]="cameraWidth"
        [trigger]="triggerObservable"
        (imageCapture)="handleDesktopImage($event)"
        imageQuality="0.92"
        (initError)="handleWebCamInitError($event)">
      </webcam>
    </div>
  </div>
  <div class="modal-footer border-0 bg-transparent">
    <button title="Take a Photo" type="button" class="btn btn-primary"
            (click)="triggerSnapshot()">
      <i class="fa fa-camera"></i>
    </button>
  </div>
</ng-template>
<!-- Desktop Modal Camera -->
