<div class="widget-signups__list">
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Jani Popovich" (click)="selectSuspect('1')">
    <input checked *ngIf="selectedSuspect === '1'" style="width:3rem; position: absolute; height: 3rem; left: 0;" type="radio" name="suspect" value="1"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Rosina Lamont" (click)="selectSuspect('2')">
    <input checked *ngIf="selectedSuspect === '2'" style="width:3rem; position: absolute; height: 3rem; left: 0;" type="radio" name="suspect" value="2"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Wava Vermeulen" (click)="selectSuspect('3')">
    <input checked *ngIf="selectedSuspect === '3'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="3"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Delisa Sheilds" (click)="selectSuspect('4')">
    <input checked *ngIf="selectedSuspect === '4'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="4"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Elsy Wilhoit" (click)="selectSuspect('5')">
    <input checked *ngIf="selectedSuspect === '5'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="5"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Deanne Jeffreys" (click)="selectSuspect('6')">
    <input checked *ngIf="selectedSuspect === '6'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="6"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="ddsds" (click)="selectSuspect('7')">
    <input checked *ngIf="selectedSuspect === '7'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="7"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Shery Heredia" (click)="selectSuspect('8')">
    <input checked *ngIf="selectedSuspect === '8'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="8"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Gaylord Coolbaugh" (click)="selectSuspect('9')">
    <input checked *ngIf="selectedSuspect === '9'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="9"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Lyda Wortman" (click)="selectSuspect('10')">
    <input checked *ngIf="selectedSuspect === '10'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="10"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Corene Langstaff" (click)="selectSuspect('11')">
    <input checked *ngIf="selectedSuspect === '11'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="11"/>
    <img class="avatar-img" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
  </span>
<!--  <button style="margin: 0 auto; max-width: 17rem;" tooltip="Solve" class="btn btn-block btn-primary" (click)="solve()"> <i class="cil-media-play"></i></button>-->
</div>
