<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="boardForm" (ngSubmit)="boardUser(boardForm.value)">
                <div class="text-center"><img src="assets/img/brand/paya-logo.png" alt="paya logo"></div>
                <p class="text-muted"></p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="username" type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
                </div>
<!--                <p class="text-muted">Paya Integration Information</p>-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-globe"></i></span>
                  </div>
                  <input formControlName="domain" type="text" class="form-control" placeholder="Domain" required>
                </div>
<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-lock"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="User Id" required>-->
<!--                </div>-->
<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-lock"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="API Key" required>-->
<!--                </div>-->
<!--                <div class="input-group mb-4">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-lock"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Developer Id" required>-->
<!--                </div>-->
                <button type="submit" class="btn btn-block btn-success">Connect</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row justify-content-around">
<!--                <span><a href="https://coreui.io">ISO</a> &copy; 2021 Tackon Technologies.</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
