<article id="case-item-{{index}}" class="postcard dark blue">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
  </a>
  <div class="postcard__text">
    <h1 class="postcard__title blue"><a (click)="goCase(case.id)">Podcast Title</a></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">
        <i class="fas fa-calendar-alt mr-2"></i>{{case.timestamp | firebaseTimestamp}}
      </time>
    </div>
    <div class="animated fadeIn">
      <div class="row">
      </div>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
    <!-- Nav tabs -->
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink tooltip="Victim"><i class="cil-face-dead"></i></a>
        <ng-template ngbNavContent>
          <app-victim-card></app-victim-card>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink tooltip="Suspects"><i class="cil-contact"></i></a>
        <ng-template ngbNavContent>
          <app-suspects-list></app-suspects-list>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink tooltip="Witnesses"><i class="fa fa-eye"></i></a>
        <ng-template ngbNavContent>
          <app-witness-list></app-witness-list>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink tooltip="Clues"><i class="cil-zoom"></i></a>
        <ng-template ngbNavContent>
          Clues
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink tooltip="Solve"><i class="cil-media-play"></i></a>
        <ng-template ngbNavContent>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" [class.active]="currentSlide === 1">
                <div class="text-center"><span>Suspect</span></div>
                <app-solve-case-form></app-solve-case-form>
              </div>
              <div class="carousel-item" [class.active]="currentSlide === 2">
                <div class="text-center"><span>Murder Weapon</span></div>
                <app-murder-weapon-list></app-murder-weapon-list>
              </div>
              <div class="carousel-item" [class.active]="currentSlide === 3">
                <div class="text-center"><span>Solve</span></div>
                <button style="margin: 0 auto; max-width: 17rem;" class="btn btn-block btn-primary" (click)="solve()"> <i class="cil-media-play"></i></button>
              </div>
            </div>
            <a class="carousel-control-prev position-absolute d-block" style="width: 0" role="button" data-slide="prev" (click)="prevSlide()">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next position-absolute d-block" style="width: 0; right: 20px;" role="button" data-slide="next" (click)="nextSlide()">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</article>