<div class="container">
  <div class="row g-3">
    <div class="col-12">
      <div class="mt-2 mr-auto ml-auto" style="max-width: 50rem">
        <div class="d-flex justify-content-between align-items-center">
          <div class="h2 mb-2">Payment</div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" style="padding: 0; border: none;" aria-controls="dropdown-basic">
              <i title="other payment options" class="fa fa-2x fa-gear input-group-text"></i>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Arch</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Apple Pay</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">World Pay</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Paypal</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-0">
            <div class="accordion" id="accordionExample">
            <div class="card mb-0">
              <div class="card-header p-0">
                <h2 class="mb-0"> <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between">
                      <i title="Credit or Debit Card" class="fa fa-2x fa-credit-card mr-2"></i>
                    </div>
                    <div>
                      <app-webcam
                        (loading)="isCompressingFile($event)"
                        (fileOutput)="sendFile($event)">
                      </app-webcam>
                    </div>
<!--                    <div class="icons">-->
<!--                      <img alt="master card" src="/assets/img/card-icons/card-group.png" width="170">-->
<!--                      <img alt="master card" src="/assets/img/card-icons/mastercard.png" width="48">-->
<!--                      <img alt="visa card" src="/assets/img/card-icons/visa.png" width="48">-->
<!--                      <img alt="stripe card" src="/assets/img/card-icons/discover1.png" width="48">-->
<!--                      <img alt="stripe card" src="/assets/img/card-icons/amex.png" width="44">-->
<!--                    </div>-->
                  </div>
                </button> </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body payment-card-body">
                  <form [formGroup]="creditCardForm">
                    <span class="font-weight-normal card-text">Card Number</span>
                    <div>
                      <div class="input-group mb-3 align-items-center">
                        <input id="cc-number" ccNumber autocomplete="cc-number" #ccNumber="ccNumber"
                               style="border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem"
                               type="tel" class="form-control" formControlName="cardNumber" placeholder="0000 0000 0000 0000"/>
<!--                        <span *ngIf="(ccNumber.resolvedScheme$ | async)!='unknown'"-->
<!--                              style="right:0;margin-right:5rem;z-index:10;width:2rem"-->
<!--                              class="scheme position-absolute">-->
<!--                          <img style="width: 2rem" alt="{{ccNumber.resolvedScheme$ | async}} card" src="/assets/img/card-icons/{{ccNumber.resolvedScheme$ | async}}.png">-->
<!--                        </span>-->
<!--                        <span *ngIf="(ccNumber.resolvedScheme$ | async)=='unknown'"-->
<!--                              style="right: 0;margin-right:5rem;z-index:10" class="scheme position-absolute">-->
<!--                          <i class="fa fa-2x fa-credit-card"></i>-->
<!--                        </span>-->

                        <div class="input-group-append">
                          <span title="Card Number" class="input-group-text p-0">
                            <span *ngIf="(ccNumber.resolvedScheme$ | async)!='unknown'"
                                  style="right:0;margin-right:0.5rem;z-index:10;"
                                  class="scheme position-absolute">
                              <img style="width: 3rem" alt="{{ccNumber.resolvedScheme$ | async}} card" src="/assets/img/card-icons/{{ccNumber.resolvedScheme$ | async}}.png">
                            </span>
                            <span *ngIf="(ccNumber.resolvedScheme$ | async)=='unknown'"
                                  style="right: 0;margin-right:1rem;z-index:10" class="scheme position-absolute">
                              <i class="fa fa-2x fa-credit-card"></i>
                            </span>
<!--                            <i class="fa fa-2x fa-credit-card"></i>-->
<!--                          <app-webcam-->
<!--                            (loading)="isCompressingFile($event)"-->
<!--                            (fileOutput)="sendFile($event)">-->
<!--                          </app-webcam>-->
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <span class="font-weight-normal card-text">Expiry Date</span>
                        <div class="input-group mb-3">
<!--                          <input type="text"-->
<!--                                 class="form-control"-->
<!--                                 [ngModelOptions]="{standalone: true}"-->
<!--                                 placeholder="MM-YYYY"-->
<!--                                 [(ngModel)]="datePicker"-->
<!--                                 bsDatepicker-->
<!--                                 [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-YYYY', minMode: minMode }"/>-->
                          <input ccExp id="cc-exp-date" type="tel" autocomplete="cc-exp" class="form-control" formControlName="expDate" placeholder="MM/YY"/>
                          <div class="input-group-append"><span title="Expiry Date" class="input-group-text"><i class="fa fa-2x fa-calendar"></i></span></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <span class="font-weight-normal card-text">CVC/CVV</span>
                        <div>
                          <div class="input-group mb-3">
                            <input ccCVC id="cc-cvc" type="tel" autocomplete="off" class="form-control" formControlName="cvv" placeholder="000"/>
                            <div class="input-group-append"><span title="CVC/CVV" class="input-group-text"><i class="fa fa-2x fa-lock"></i></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <span class="font-weight-normal card-text">Zip Code</span>
                        <div>
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="zipCode" placeholder="00000"/>
                            <div class="input-group-append"><span title="Zipe Code" class="input-group-text"><i class="fa fa-2x fa-globe"></i></span></div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <span class="font-weight-normal card-text">Name on Card</span>
                    <div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="cardHolderName" placeholder="Name on Card"/>
                        <div class="input-group-append"><span title="Card Number" class="input-group-text"><i class="fa fa-2x fa-user"></i></span></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-end">
                  <div class="row">
                    <div class="col-12">
                      <div class="rounded d-flex flex-column p-2" style="background-color: #f8f9fa;min-width: 12rem;">
                        <div class="p-2 d-flex">
                          <div class="col-8"><b>Total:</b></div>
                          <div class="ms-auto"><b class="text-success">$85.00</b></div>
                        </div>
                        <button class="btn btn-primary">
                          <h4>Pay</h4>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading [showSpinner]="isLoading"></app-loading>
