<div class="container">
  <div class="row g-3">
    <div class="col-12">
      <div class="mt-2 mr-auto ml-auto" style="max-width: 50rem">
        <div class="h2 mb-2">Payment</div>
        <div class="card mb-0">
            <div class="accordion" id="accordionExample">
            <div class="card mb-0">
              <div class="card-header p-0">
                <h2 class="mb-0"> <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between">
                      <i title="Credit or Debit Card" class="fa fa-2x fa-credit-card mr-2"></i>
                    </div>
                    <div class="icons">
                      <img alt="master card" src="/src/assets/img/card-icons/master-card-icon.png" width="40">
                      <img alt="visa card" src="/src/assets/img/card-icons/visa-card-icon.png" width="40">
                      <img alt="stripe card" src="/src/assets/img/card-icons/stripe-card-icon.png" width="40">
                    </div>
                  </div>
                </button> </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body payment-card-body">
                  <form [formGroup]="creditCardForm">
                    <span class="font-weight-normal card-text">Card Number</span>
                    <div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="cardNumber" placeholder="0000 0000 0000 0000"/>
                        <div class="input-group-append"><span title="Card Number" class="input-group-text"><i class="fa fa-2x fa-credit-card"></i></span></div>
                      </div>
                    </div>
                    <div class="row mt-3 mb-3">
                      <div class="col-md-4">
                        <span class="font-weight-normal card-text">Expiry Date</span>
                        <div class="input-group mb-3">
                          <input type="text"
                                 class="form-control"
                                 [ngModelOptions]="{standalone: true}"
                                 placeholder="MM-YYYY"
                                 [(ngModel)]="datePicker"
                                 bsDatepicker
                                 [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-YYYY', minMode: minMode }"/>
                          <div class="input-group-append"><span title="Expiry Date" class="input-group-text"><i class="fa fa-2x fa-calendar"></i></span></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <span class="font-weight-normal card-text">CVC/CVV</span>
                        <div>
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="cvv" placeholder="000"/>
                            <div class="input-group-append"><span title="CVC/CVV" class="input-group-text"><i class="fa fa-2x fa-lock"></i></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <span class="font-weight-normal card-text">Zip Code</span>
                        <div>
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="zipCode" placeholder="00000"/>
                            <div class="input-group-append"><span title="Zipe Code" class="input-group-text"><i class="fa fa-2x fa-globe"></i></span></div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <span class="font-weight-normal card-text">Name on Card</span>
                    <div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="cardHolderName" placeholder="Name on Card"/>
                        <div class="input-group-append"><span title="Card Number" class="input-group-text"><i class="fa fa-2x fa-user"></i></span></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-end">
                  <div class="row">
                    <div class="col-12">
                      <div>
                        <app-webcam
                          (fileOutput)="sendFile($event)">
                        </app-webcam>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading [showSpinner]="isLoading"></app-loading>
