<div class="widget-signups__list">
  <a data-toggle="tooltip" title="" href="" data-original-title="Jani Popovich"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Delisa Sheilds"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Elsy Wilhoit"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Corene Langstaff"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Aracely Goudeau"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Nigel Shipe"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Melonie Carreira"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Rosina Lamont"><img class="avatar-img" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="ddsds"><img class="avatar-img" src="https://bootdey.com/img/Content/user_1.jpg" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Deanne Jeffreys"><img class="avatar-img" src="https://bootdey.com/img/Content/user_2.jpg" alt=""></a>
  <a data-toggle="tooltip" title="" href="" data-original-title="Wava Vermeulen"><img class="avatar-img" src="https://bootdey.com/img/Content/user_3.jpg" alt=""></a>
</div>
