<div class="widget-signups__list">
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Jani Popovich" (click)="selectWeapon('1')">
    <input checked *ngIf="selectedWeapon === '1'" style="width:3rem; position: absolute; height: 3rem; left: 0;" type="radio" name="suspect" value="1"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/bomb.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Rosina Lamont" (click)="selectWeapon('2')">
    <input checked *ngIf="selectedWeapon === '2'" style="width:3rem; position: absolute; height: 3rem; left: 0;" type="radio" name="suspect" value="2"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/drowning.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Wava Vermeulen" (click)="selectWeapon('3')">
    <input checked *ngIf="selectedWeapon === '3'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="3"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/gun.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Delisa Sheilds" (click)="selectWeapon('4')">
    <input checked *ngIf="selectedWeapon === '4'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="4"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/knife.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Elsy Wilhoit" (click)="selectWeapon('5')">
    <input checked *ngIf="selectedWeapon === '5'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="5"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/noose.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Deanne Jeffreys" (click)="selectWeapon('6')">
    <input checked *ngIf="selectedWeapon === '6'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="6"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/poison.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="ddsds" (click)="selectWeapon('7')">
    <input checked *ngIf="selectedWeapon === '7'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="7"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/sedan.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Shery Heredia" (click)="selectWeapon('8')">
    <input checked *ngIf="selectedWeapon === '8'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="8"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/bandit.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Gaylord Coolbaugh" (click)="selectWeapon('9')">
    <input checked *ngIf="selectedWeapon === '9'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="9"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/punch.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Lyda Wortman" (click)="selectWeapon('10')">
    <input checked *ngIf="selectedWeapon === '10'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="10"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/hitman.png" alt="">
  </span>
  <span class="position-relative" data-toggle="tooltip" title="" data-original-title="Corene Langstaff" (click)="selectWeapon('11')">
    <input checked *ngIf="selectedWeapon === '11'" style="width:3rem;position: absolute;height: 3rem;left: 0;" type="radio" name="suspect" value="11"/>
    <img class="avatar-img" src="/assets/img/murder_weapons/drugs.png" alt="">
  </span>
</div>
