<div class="animated fadeIn">
  <ng-container *ngIf="infinite | async as cases">
    <cdk-virtual-scroll-viewport
      id="cdk-virtual-scroll-viewport-case-list"
      class="gkz-viewport"
      (scroll)="checkResize()"
      [itemSize]="itemSize"
      (scrolledIndexChange)="getNextBatch($event, cases[cases.length - 1].id)">
      <ng-container *cdkVirtualFor="let _case of cases; let i = index; trackBy: tracByIdx">
        <app-case-article [index]="i" [case]="_case"></app-case-article>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>